.idea/
.DS_Store
# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

/.settings/**

# Package Files #
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar
RemoteSystemsTempFiles/
Servers/
.metadata/
.project
# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# Java annotation processor (APT)
.factorypath

# STS (Spring Tool Suite)
.springBeans

# Jave related
target/**
*.jar
*.war
*.ear
*.class
 
# eclipse specific
*.pydevproject
.project
.metadata
bin/**
tmp/**
tmp/**/*
*.tmp
*.bak
*.swp
*~.nib
local.properties
.classpath
.settings/
.loadpath
 
# External tool builders
.externalToolBuilders/
 
# Locally stored "Eclipse launch configurations"
*.launch

